# Configuration & Deployment
/config/**/*.yaml
!/config/**/*.yaml.example
!/config/entitiesconfig.yaml
docker-compose.yml

# Development / IDE
/vendor/
/.idea/
/.vscode/
/phpstan.neon
/.phpunit.result.cache

# Temp / Logs / Output
/tests/Benchmark/*
/tests/App/*
/tmp/*
*entities.php*
*stderr*
*.log
.antigravityrules
.env

# Development recurrences
dev-recurrences.md
NEW_PROJECT_PLAN.md

# Storage (Generated tokens, logs, etc.)
/storage/
.env.llenatucentro
.env.demo.hetzner
.privacy-policy
.env.hetzner
.env.gbs
/config/assets_backup.yaml.apis-hub-demo
*.gbs
*/*.gbs
*.llenatucentro
*/*.llenatucentro
*.hetzner
*/*.hetzner
*.py
*/*.py
check_db.php
debug_data.php
*coverage*.txt
docs/manual-deployment.md
.agent/workflows/manual-deployment.md
security_hardening_plan.md
MODULAR_ARCHITECTURE_PLAN.md
PHASE_1_GOOGLE_EXTRACTION_PLAN.md
PHASE_2_META_EXTRACTION_PLAN.md
PHASE_3_SHOPIFY_EXTRACTION_PLAN.md
HANDOVER_RESTART.md
.agent
**/.php-cs-fixer.dist.php
.php-cs-fixer.dist.php
STATUS-SUMMARY.md
**/*.txt
*.txt
