/vendor/
/.idea/
/config/yaml/cacheconfig.yaml
/config/yaml/channelsconfig.yaml
/config/yaml/dbconfig.yaml
/config/yaml/entitiesconfig_old.yaml
/tests/Benchmark/*
/tests/App/*
/src/Entities/Analytics/Lead.php
/src/Entities/Analytics/Accounts/*
/.phpunit.result.cache
*entities.php*
*stderr*
test_output_patch.txt
