<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         verbose="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Services Tests">
            <directory>tests/Unit/Services</directory>
        </testsuite>
        <testsuite name="Helpers Tests">
            <directory>tests/Unit/Helpers</directory>
        </testsuite>
        <testsuite name="Repositories Tests">
            <directory>tests/Unit/Repositories</directory>
        </testsuite>
        <testsuite name="Controllers Tests">
            <directory>tests/Unit/Controllers</directory>
        </testsuite>
        <testsuite name="Classes Tests">
            <directory>tests/Unit/Classes</directory>
        </testsuite>
        <testsuite name="Commands Tests">
            <directory>tests/Unit/Commands</directory>
        </testsuite>
    </testsuites>
</phpunit>