<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Lost?</title>
    <link rel="icon" type="image/png" href="/driver-assets/core/images/apishub-favicon.png">
    <link rel="stylesheet" href="/assets/css/404.css">
</head>
<body class="error-404">
<div class="ghost">👻</div>
<h1>Hello, curious traveler!</h1>
<p>It seems you’ve wandered into the unknown. There’s nothing to see here… or is there?<br><br>
    I’m <strong>Aníbal Álvarez</strong>, a software developer. If you’re curious about what I do, you’re welcome to check out my site.</p>
<a class="button" href="https://anibalalvarez.com" target="_blank">Visit anibalalvarez.com</a>
</body>
</html>
