database:
  testing:
    driver: pdo_mysql
    host: '${DB_HOST:-127.0.0.1}'
    port: 3306
    user: root
    password: '${DB_PASSWORD:-YOUR_PASSWORD}'
    name: '${DB_NAME:-apis-hub-14}'
  production:
    driver: pdo_mysql
    host: '${PROD_DB_HOST:-host.docker.internal}'
    port: 3306
    user: root
    password: '${PROD_DB_PASSWORD:-YOUR_PROD_PASSWORD}'
    name: '${PROD_DB_NAME:-apis-hub-production}'
