# Rules for automatic instance generation
# You can enable/disable channels and customize history depth or scheduling.

rules:
  facebook_marketing:
    enabled: false
    history_months: 6
    entities_sync: entities
  
  facebook_organic:
    enabled: false
    history_months: 12
    entities_sync: entities

  gsc:
    enabled: false
    history_months: 16
    entities_sync: ~
