channels:
  facebook_organic:
    enabled: false
    PAGE:
      page_metrics: false
      posts: true
      post_metrics: true
      ig_account_metrics: false
      ig_account_media: true
      ig_account_media_metrics: false
      ig_account_media_stop_id: 
      cache_include: ''
      ig_accounts: true
    pages:
    cache_history_range: '1 year'
    POST:
      cache_include: ''
    IG_ACCOUNT:
      cache_include: ''
    IG_MEDIA:
      cache_include: ''
    cache_aggregations: false
