channels:
  facebook:
    enabled: true
    cache_all: false # If true, will fetch all accessible ad accounts and pages if none are listed below
    cache_include: null # Global include filter (fallback)
    cache_exclude: null # Global exclude filter (fallback)
    app_id: YOUR_APP_ID
    app_secret: YOUR_APP_SECRET
    app_redirect_uri: 'https://oauth.pstmn.io/v1/browser-callback'
    graph_user_access_token: null
    graph_page_access_token: null
    graph_long_lived_user_access_token: YOUR_LONG_LIVED_TOKEN
    graph_long_lived_page_access_token: null
    graph_token_path: ./storage/tokens/facebook_tokens.json
    user_id: YOUR_USER_ID
    accounts_group_name: 'YOUR_GROUP_NAME'
    exclude_from_caching: []
    PAGE:
      cache_include: null # Specific filter for Pages
      cache_exclude: null
      page_metrics: false
      posts: true
      post_metrics: false
      ig_account_metrics: false
      ig_account_media: true
      ig_account_media_metrics: false
      ig_account_media_stop_id: null
    pages:
      - id: "PAGE_ID"
        url: 'https://www.facebook.com/PAGE_URL'
        title: 'PAGE_TITLE'
        hostname: example.com
        ig_account: "IG_ACCOUNT_ID"
        enabled: true
    AD_ACCOUNT:
      cache_include: null # Specific filter for Ad Accounts
      cache_exclude: null
      ad_account_metrics: true
      campaigns: true
      campaign_metrics: true
      adsets: false
      adset_metrics: false
      ads: false
      ad_metrics: false
      creatives: false
      creative_metrics: false
    CAMPAIGN:
      cache_include: null
      cache_exclude: null
    ADSET:
      cache_include: null
      cache_exclude: null
    AD:
      cache_include: null
      cache_exclude: null
    CREATIVE:
      cache_include: null
      cache_exclude: null
    POST:
      cache_include: null
      cache_exclude: null
    IG_MEDIA:
      cache_include: null
      cache_exclude: null
    ad_accounts:
      - id: "AD_ACCOUNT_ID"
        enabled: true
