channels:
  facebook_marketing:
    metrics_strategy: custom
    metrics_config:
      spend:
        label: SPEND
        enabled: true
        sparkline: false
        format: currency
        order: 1
        conditional:
          type: levels
          config: {  }
      impressions:
        label: IMPR
        enabled: true
        sparkline: false
        format: number
        order: 9
        conditional:
          type: levels
          config: {  }
      reach:
        label: REACH
        enabled: true
        sparkline: false
        format: number
        order: 10
        conditional:
          type: levels
          config: {  }
      frequency:
        label: FREQ
        enabled: true
        sparkline: false
        format: number
        order: 6
        conditional:
          type: levels
          config: {  }
      clicks:
        label: CLICKS
        enabled: true
        sparkline: false
        format: number
        order: 4
        conditional:
          type: levels
          config: {  }
      ctr:
        enabled: true
        sparkline: false
        format: percent
        precision: 2
        conditional:
          enabled: true
          config:
            -
              min: 5
              max: 0
              class: badge-excellent
            -
              min: 3.000001
              max: 4.999999
              class: badge-good
            -
              min: 3
              max: 3
              class: badge-average
            -
              min: 2
              max: 2.999999
              class: badge-average
            -
              min: 0
              max: 1.999999
              class: badge-bad
      results:
        label: RESULT
        enabled: true
        sparkline: false
        format: number
        order: 7
        conditional:
          type: levels
          config: {  }
      cost_per_result:
        enabled: true
        sparkline: true
        format: currency
        precision: 2
        conditional:
          enabled: true
          config:
            -
              min: 0
              max: 5.999999
              class: badge-excellent
            -
              min: 6
              max: 6.999999
              class: badge-good
            -
              min: 7
              max: 7.999999
              class: badge-average
            -
              min: 8
              max: 9.999999
              class: badge-average
            -
              min: 10
              max: 14.999999
              class: badge-bad
            -
              min: 15
              max: 0
              class: badge-bad
      result_rate:
        label: RATE
        enabled: true
        sparkline: false
        format: percent
        order: 11
        conditional:
          type: levels
          config: {  }
      cpc:
        label: CPC
        enabled: true
        sparkline: false
        format: currency
        order: 5
        conditional:
          type: levels
          config: {  }
      cpm:
        label: CPM
        enabled: true
        sparkline: false
        format: currency
        order: 2
        conditional:
          type: levels
          config: {  }
      actions:
        label: ACTIONS
        enabled: true
        sparkline: false
        format: number
        order: 12
        conditional:
          type: levels
          config: {  }
      'actions:link_click':
        enabled: false
        sparkline: false
        format: none
        conditional:
          type: levels
          config: {  }
      'actions:post_engagement':
        enabled: false
        sparkline: false
        format: none
        conditional:
          type: levels
          config: {  }
      'actions:page_engagement':
        enabled: false
        sparkline: false
        format: none
        conditional:
          type: levels
          config: {  }
      'actions:omni_purchase':
        enabled: false
        sparkline: false
        format: none
        conditional:
          type: levels
          config: {  }
      'actions:lead':
        enabled: false
        sparkline: false
        format: none
        conditional:
          type: levels
          config: {  }
      'actions:onsite_conversion.post_save':
        enabled: false
        sparkline: false
        format: none
        conditional:
          type: levels
          config: {  }
      'action_values:omni_purchase':
        enabled: false
        sparkline: false
        format: none
        conditional:
          type: levels
          config: {  }
      purchase_roas:
        enabled: false
        sparkline: false
        format: none
        conditional:
          type: levels
          config: {  }
    CAMPAIGN:
      cache_include: ''
    ADSET:
      cache_include: ''
    AD:
      cache_include: ''
    CREATIVE:
      cache_include: ''
    AD_ACCOUNT:
      ad_account_metrics: false
      campaigns: true
      campaign_metrics: false
      adsets: true
      adset_metrics: false
      ads: true
      ad_metrics: true
      creatives: false
      creative_metrics: false
    ad_accounts:
    cache_history_range: '6 months'
    enabled: false
    cache_aggregations: true
