channels:
  google_search_console:
    enabled: false
    cache_all: false # If true, will fetch all accessible sites if none are listed below
    cache_include: null # Optional. Text or PCRE Regex to include sites by URL or Title
    cache_exclude: null # Optional. Text or PCRE Regex to exclude sites
    scope: 'https://www.googleapis.com/auth/webmasters'
    token: '${GOOGLE_SEARCH_CONSOLE_TOKEN}'
    sites: []
    metrics_cache_ttl: 86400
