channels:
  google_search_console:
    enabled: false
    scope: 'https://www.googleapis.com/auth/webmasters'
    token: YOUR_TOKEN
    sites:
      - url: 'sc-domain:example.com'
        title: 'Example Site'
        hostname: example.com
        include_keywords: []
        exclude_keywords: []
        include_countries: []
        exclude_countries: []
        include_pages: []
        exclude_pages: []
        target_countries: []
        target_keywords: []
        enabled: true
    metrics_cache_ttl: 86400
